<header class="border-b-2 border-white px-2 py-1">
  <nav class="flex justify-between items-center">
    <h1 class="font-bold text-2xl">
      EasyNotes
    </h1>
    <ul class="flex gap-4">
      <li class="font-normal transition-transform hover:scale-110">
        <a href="/"> Home </a>
      </li>
      <li class="font-normal transition-transform hover:scale-110">
        <a href="/health"> Server Health </a>
      </li>
    </ul>
  </nav>
</header>
