---
import Layout from "../layouts/Layout.astro";
import Nav from "../components/Nav.astro";
import Notes from "../components/svelte/Notes.svelte";
---

<Layout title="EasyNotes | Home">
  <Nav />
  <main class="flex flex-col gap-2">
    <Notes client:only="svelte" />
  </main>
</Layout>
